<h2 style="text-align: center">Example Form</h2>

<form
  [formGroup]="addForm"
  (submit)="onSubmit()"
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    gap: 15px;
  "
  class="card p-5"
>
  <label for="firstName">FirstName</label>
  <input type="text" formControlName="firstName" />
  @if(firstName.errors && (firstName.touched || firstName.dirty)){
  <p>Please enter a valid name...</p>
  }
  <label for="lastName">LastName</label>
  <input type="text" formControlName="lastName" />
  @if(lastName.errors && (lastName.touched || lastName.dirty)){
  <p>Please enter a valid name...</p>
  }
  <label for="middleName">MiddleName </label>
  <input type="text" formControlName="middleName" />
  @if(middleName.errors && (middleName.touched || middleName.dirty)){
  <p>Please enter a valid name...</p>
  }
  <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">
    Submit
  </button>
</form>
